<form id="edit-post-form" class="mt-4">
    <div class="mb-4">
        <label for="post-title" class="sr-only">Title</label>
        <input type="text" id="post-title" name="title" class="bg-gray-100 border-2 w-full p-4 rounded-lg" value="{{post.title}}" required>
    </div>

    <div class="mb-4">
        <label for="post-content" class="sr-only">Content</label>
        <textarea id="post-content" name="content" class="bg-gray-100 border-2 w-full p-4 rounded-lg" required>{{post.content}}</textarea>
    </div>

    <div class="flex justify-end">
        <button type="submit" class="px-4 py-2 rounded bg-blue-500 hover:bg-blue-700 text-white">Update Post</button>
    </div>

</form>

<script src="/js/editPost.js"></script>
